@model List<Order>
<h2 class="mb-3">Order List</h2>
<div class="mb-3 d-flex justify-content-end">
    <a class="btn btn-dark" asp-controller="Order" asp-action="Create">New Order</a>
</div>
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.OrderDate</td>
                <td>@order.Status</td>
            </tr>
        }
    </tbody>
</table>
